*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    background-color:hsl(231, 5%, 30%);
}
.logo-bar{
    width:80%;
    height:70px;
}
.logo-bar .logo-panel{
    width:22%;
    height:100%;
    background-color:hsl(240, 12%, 10%);
    border-radius:10px 10px 0px 0px;
}
.logo-bar .logo-panel img{
    width:50px;
    height:50px;
}
.logo-bar .logo-panel .tabnotes{
    float:left;
    margin-left:5px;
    color:hsl(0,100%,100%);
    font-size:25px;
    transform:translate(0px,20px);
}
.logo-bar .logo-panel .tabnotes span{
    color:#D810F9;
}
.logo-bar .logo-panel .hr{
    width:100%;
    height:1px;
    background-color:hsla(240, 1%, 58%, 0.2);
}
.top-toolbar{
    width:80%;
    height:65px;
    background-color:hsl(240, 12%, 10%);
    border-radius:0px 10px 10px 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:15px;
}
.top-toolbar .left-bar{
    width:65%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0px 10px;
}
.top-toolbar .left-bar .btn{
    width:45px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:hsl(240, 12%, 10%);
    margin:5px;
    border-radius:4px;
    cursor:pointer;
}
.top-toolbar .left-bar .btn .icon{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:hsl(240, 1%, 58%);
    font-size:22px;
}
.top-toolbar .left-bar .btn:hover{
    background-color:hsla(240, 1%, 58%, 0.5);
}
.top-toolbar .left-bar .btn .icon:hover{
    color:hsl(0,100%,100%);
}
.top-toolbar .right-bar{
    width:35%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:hsla(200, 11%, 15%, 0.5);
    border-radius:0px 10px 10px 0px;
}
.top-toolbar .right-bar .filename{
    width:200px;
    height:35px;
    font-size:16px;
    border-radius:4px;
    padding:10px;
    margin-right:20px;
    outline:none;
}
.top-toolbar .right-bar .save{
    width:150px;
    height:35px;
    border-radius:4px;
    padding-left:10px;
    font-size:14px;
    background-color:hsla(240, 12%, 10%, 0.6);
    color:hsl(0,100%,100%);
    border:1px solid hsla(0,100%,100%,0.6);
    outline:none;
}
.container{
    width:80%;
    height:350px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
}
.container .panel{
    width:32%;
    height:100%;
    border-radius:10px;
    background-color:hsl(200, 11%, 15%);
    padding:25px 0px;
}
.container .panel .text{
    font-size:20px;
    color:hsl(240, 1%, 58%);
    margin-bottom:8px;
    padding-left:20px;
}
hr{
    background-color:hsla(240, 1%, 58%, 0.2);
    height:1.5px;
    width:100%;
    margin-bottom:10px;
}
.container .panel select{
    width:140px;
    height:45px;
    border-radius:4px;
    font-size:18px;
    padding:10px 10px 10px 0px;
    background-color:hsl(200, 11%, 15%);
    color:hsl(0,100%,100%);
    cursor:pointer;
    outline:none;
    margin-bottom:10px;
    margin-left:17px;
}
.container .panel .color{
    font-size:20px;
    color:hsl(240, 1%, 58%);
    padding-top:8px;
    padding-left:20px;
}
#style1{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:transparent;
    width:40px;
    height:40px;
    border:none;
    cursor:pointer;
    margin-bottom:10px;
}
#style1::-webkit-color-swatch{
    border-radius:50%;
    border:none;
}
#style1::-moz-color-swatch{
    border-radius:50%;
    border:none;
}
.container .text-area{
    width:64%;
    height:100%;
    font-size:18px;
    background-color:hsl(0,100%,100%);
    padding:22px;
    overflow-y:auto;
    outline:none;
    margin-top:5px;
}